.item-list {
    margin-bottom: 0.2rem;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
}

.header-item h2 {
    color: cadetblue;
    font-size: 24px;
}

.item-list .checkbox {
    margin-left: 26px;
    margin-top: 10px;
}

.noPadding {
    padding-left: 0px;
}

.itemColor li {
    color:darkcyan;
    padding: .2rem 0.5rem;
}

.itemColor {
    padding-left: 0;
    border-radius: 0.25rem;
}

.list-group-item .item {
    display:flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 5px;
}

.list-group-item .item span {
    margin-left:5px;
}